@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 220 27% 11%;
    --card: 0 0% 100%;
    --card-foreground: 220 27% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 27% 11%;
    --primary: 232 64% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 92%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 215 9% 47%;
    --accent: 45 100% 52%;
    --accent-foreground: 233 64% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 232 64% 30%;
    --chart-1: 232 64% 30%;
    --chart-2: 45 100% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 232 30% 10%;
    --foreground: 0 0% 98%;
    --card: 232 30% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 232 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 100% 52%;
    --primary-foreground: 233 64% 20%;
    --secondary: 222 84% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 84% 15%;
    --muted-foreground: 215 20% 65%;
    --accent: 232 64% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 84% 15%;
    --input: 222 84% 15%;
    --ring: 45 100% 52%;
    --chart-1: 45 100% 52%;
    --chart-2: 232 64% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
